.customer-security-policy{
    padding: 2rem;
    h1{
      text-align: center;
    }
  
    ol li{
      padding-left: 1rem;
    }
}
  
  
.payment-securiy-policy{
    padding: 2rem;
    h1{
      text-align: center;
    }
}
  
.refund-policy{
    padding: 2rem;
    h1{
      text-align: center;
    }
  
    h2{
      text-align: center;
    }
}

.term-of-use{
    padding: 2rem;

    h1{
        text-align: center;
    }
}